.videoPageTitle {
  margin: 0 auto;
  padding: 1em;
  margin-top: 2em;
  width: 72%;
}

.videoResults {
  width: 80%;
  //   padding: 1em;
  margin-top: 2em;
  display: grid;
  //   margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);

  &__div {
    a {
      text-decoration: none;
    }
  }
}

.singleVideo {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 300px;
  background: rgb(40, 39, 39);
  border-radius: 20px;
  padding: 1.2em;
  margin: 1em;
  overflow: hidden; //i don't think imma keep this. this is temp!!!!!

  &__title {
    color: rgb(217, 217, 217);
    font-size: 1.1rem;
  }

  &__video {
    border-radius: 10px;
    // height: 350px;
    // width: 350px;
  }

  &:hover {
    box-shadow: 0 0 20px 5px #514f52;
  }

  &__img {
    height: 75%;
  }
}
