.videoModal {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 80vw;
  height: 100vh;
  padding: 1rem 3rem;
  background: rgb(61, 55, 55);
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1.4s ease both;
  z-index: 200;
  backdrop-filter: blur(20px);
  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }

  &__important {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: inherit;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
