.imageOfDay_main-title {
  display: flex;
  justify-content: flex-start;
  color: rgb(199, 198, 198);
  margin: 0 auto;
  padding: 0.5em;
  // font-size: 72px;
  background: -webkit-linear-gradient(rgb(88, 12, 112), rgb(150, 47, 36));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}

.imageOfDayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;

  &__image {
    margin-top: 1.6em;
    width: 40vw;
    height: auto;
  }

  &__image img {
    width: 90%;
    height: inherit;
    border-radius: 20px;
    border: 1.5px solid rgb(156, 154, 154);
  }

  &__image {
    overflow: hidden;
  }

  &__image-title {
    font-size: 2em;
    text-align: left;
    color: rgb(212, 209, 209);
  }

  &__description {
    padding: 1em;
    line-height: 1.75em;
    margin-left: 1em;
    color: rgb(201, 199, 199);
  }
}

@media (max-width: 1048px) {
  .imageOfDayContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__image {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 80vw;
      height: auto;
    }
  }
}
